header {
  position: absolute;
    box-shadow: lightgray 4px 4px 20px;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    text-align: center;
  }
  nav {
    a {
      font-weight: bold;
      margin: 0 5px;
      padding: 1rem;
      background: #000;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      border: 2px solid #000;
      transition: opacity .3s ease;
      &:hover{
        opacity: .5;
      }
    }
    .active {
      background: #fff;
      color: #000;
    }
  }
}
