<div class="face-snap-card" [ngClass]="{snapped: FaceSnap.statusSnap ? 'snapped' : ''}">
  <h2>{{FaceSnap.title}}</h2>
  <p>Mis en ligne le : {{FaceSnap.createDate.getDate()}} / {{FaceSnap.createDate.getMonth() + 1}} / {{FaceSnap.createDate.getFullYear()}}</p>
  <img [src]="FaceSnap.imageUrl" [alt]="FaceSnap.title">
  <p>{{FaceSnap.description}}</p>
  <p *ngIf="FaceSnap.location">
    Photo prise a {{FaceSnap.location}}
  </p>
  <p>
    <button (click)="onSnap()">{{buttonText}}</button>
    <span [ngStyle]="{color: 'rgb(0,' + FaceSnap.snaps + ',0)'}">{{FaceSnap.snaps}} ⭐️</span>
  </p>
</div>
