/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=The+Nautigal&family=Ubuntu:wght@300;400&display=swap');

// font-family: 'Moon Dance', cursive;
// font-family: 'The Nautigal', cursive;
// font-family: 'Ubuntu', sans-serif;

* {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}
